<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redigera</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="content">
        <div class="card" id="card-for-edit-blog">
            <div class="header-edit-blog">
                <div class="title-edit-blog">
                    <h1>Redigera Blogg</h1>
                </div>
                <div class="author-save-blog">
                    <button tabindex="5" type="button" class="material-icons" id="saveButton" onclick="if (!confirm('Vill du spara blogginlägget?')) return false; document.getElementById('blog-form-edit').submit();">save</button>
                </div>
            </div>
            
            <% if (blog) { %>
                <form class="edit-blog-form" action="/blogg/<%= blog.id %>/redigera" method="POST" id="blog-form-edit">
                    <input tabindex="1" type="text" name="title" value="<%= blog.title %>" id="title-edit" placeholder="Titel">
                    <input tabindex="2" type="text" name="author" value="<%= blog.author %>" id="author-edit" placeholder="Författare">
                    <input tabindex="3" type="text" name="category" value="<%= blog.category %>" id="category-edit" placeholder="Kategori">
                    <textarea tabindex="4" name="contents" id="content-edit" placeholder="Innehåll"><%= blog.contents %></textarea>
                    <input type="hidden" name="_method" value="PATCH">
                    <% if ((errors && errors.title) || (errors && errors.author) || (errors && errors.category) || (errors && errors.contents)) { %>
                        <script>alert("Alla fält måste vara fyllda")</script>
                    <% } %>  
                </form>
            <% } else { %>
                <p>Bloggen kunde inte hittas.</p>
            <% } %>
            
            <div class="blog-functions-footer">
                <button tabindex="6" id="backButton" onclick="location.href='/blogg/<%= blog.id %>/'" class="material-icons">arrow_back</button>
            </div>
        </div>
    </div>
    <div class="footer">
        <%- include('partials/footer.ejs') %>
    </div>
</body>
</html>
